<nav class="app-menu">
  <div class="main-items">
    <a (click)="setTitle('Dashboard')" routerLink="/dashboard" routerLinkActive="active" aria-label="Dashboard">
      <i class="fa fa-dashboard fa-lg" aria-hidden="true"></i>
      Dashboard
    </a>
    <a  (click)="setTitle('Heroes')" routerLink="/heroes" routerLinkActive="active" aria-label="Heroes">
      <i class="fa fa-child fa-lg" aria-hidden="true"></i>
      Heroes
    </a>
  </div>
  <div class="controls">
    <a href="#">Lang</a>
    <a href="#">Contact</a>
  </div>
</nav>

<!-- nav.mega-menu>.dropdown*5>a[href=#]{Item $}+.dropdown-content>.dropside*5>a[href=#]{Item $$}+.dropside-content>a[href=#]{Item $$$}*5 -->
<nav class="mega-menu">
  <div class="dropdown">
    <a href="#">Item 1</a>
    <div class="dropdown-content">
      <div class="dropside">
        <a href="#">Item 11</a>
        <div class="dropside-content">
          <a href="#">Item 111</a>
          <a href="#">Item 112</a>
          <a href="#">Item 113</a>
          <a href="#">Item 114</a>
          <a href="#">Item 115</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 12</a>
        <div class="dropside-content">
          <a href="#">Item 121</a>
          <a href="#">Item 122</a>
          <a href="#">Item 123</a>
          <a href="#">Item 124</a>
          <a href="#">Item 125</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 13</a>
        <div class="dropside-content">
          <a href="#">Item 131</a>
          <a href="#">Item 132</a>
          <a href="#">Item 133</a>
          <a href="#">Item 134</a>
          <a href="#">Item 135</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 14</a>
        <div class="dropside-content">
          <a href="#">Item 141</a>
          <a href="#">Item 142</a>
          <a href="#">Item 143</a>
          <a href="#">Item 144</a>
          <a href="#">Item 145</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 15</a>
        <div class="dropside-content">
          <a href="#">Item 151</a>
          <a href="#">Item 152</a>
          <a href="#">Item 153</a>
          <a href="#">Item 154</a>
          <a href="#">Item 155</a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#">Item 2</a>
    <div class="dropdown-content">
      <div class="dropside">
        <a href="#">Item 01</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 02</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 03</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 04</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 05</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#">Item 3</a>
    <div class="dropdown-content">
      <div class="dropside">
        <a href="#">Item 01</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 02</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 03</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 04</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 05</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#">Item 4</a>
    <div class="dropdown-content">
      <div class="dropside">
        <a href="#">Item 01</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 02</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 03</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 04</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 05</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <a href="#">Item 5</a>
    <div class="dropdown-content">
      <div class="dropside">
        <a href="#">Item 01</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 02</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 03</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 04</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
      <div class="dropside">
        <a href="#">Item 05</a>
        <div class="dropside-content">
          <a href="#">Item 001</a>
          <a href="#">Item 002</a>
          <a href="#">Item 003</a>
          <a href="#">Item 004</a>
          <a href="#">Item 005</a>
        </div>
      </div>
    </div>
  </div>
</nav>
