<nav class="app-menu">
  <div class="main-items">
    <a (click)="setTitle('Dashboard')" routerLink="/dashboard" routerLinkActive="active" aria-label="Dashboard">
      <i class="fa fa-dashboard fa-lg" aria-hidden="true"></i>
      Dashboard
    </a>
    <a  (click)="setTitle('Heroes')" routerLink="/heroes" routerLinkActive="active" aria-label="Heroes">
      <i class="fa fa-child fa-lg" aria-hidden="true"></i>
      Heroes
    </a>
  </div>
  <div class="controls">
    <a href="#">Lang</a>
    <a href="#">Contact</a>
  </div>
</nav>

<nav class="mega-menu">
  <div class="dropdown" *ngFor="let item of menuItems">
    <a href="#">{{ item.label }}</a>
    <div class="dropdown-content">
      <div class="dropside" *ngFor="let subItem of item.subitems">
        <a href="#">{{ subItem.label }}</a>
        <div class="dropside-content">
          <a href="#" *ngFor="let subSubItem of subItem.subitems">{{ subSubItem.label }}</a>
        </div>
      </div>
    </div>
  </div>
</nav>
