@import "../public/styles/main"

.container
  font: normal normal normal #{$font-size-base}/#{$line-height-base} OpenSans
  background-color: $color5
  display: flex
  flex-flow: column nowrap
  padding: 0 1rem
  min-height: 100vh

  header
    background-color: $color4

  main
    background-color: $color3
    padding: 1rem

  footer
    background-color: $color2
    padding: 1rem
